body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.payment-container {
    width: fit-content;
    padding: 50px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
    display: block;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: black;
    border-radius: 10px;
    margin: 10px auto;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    color: black;
}

#payment-message {
    margin-top: 10px;
}

.input-text
{
    font-size: 25px;
    border-radius: 5px;
}
